<div class="row">
  <div class="col-md-7 col-md-offset-2">
    <div class="well">
      {{#link-to 'question' question.id}}<h3>{{question.title}}</h3>{{/link-to}}
      <p>By {{question.user}} at {{question.timestamp}}</p>
    </div>
  </div>
</div>
