<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <p class="about">
       Currently, the hispanic demographic only makes up 3% of <a href="https://www.google.com/diversity/">Google's</a> employees and a 2016 <a href="https://www.bls.gov/cps/cpsaat11.htm">Bureau of Labor Survey</a> states that only 4.8% of software developers are 'hispanic or latino'. Latinx Coder Network's goal is to create a supportive community for professional and aspiring latinx programmers on their coding journeys and to increase the accessibility of tech careers to latinx people.</p>
    </div>
  </div>
</div>
