<div class="page-header">
  <h1>Welcome to Super Message Board!</h1>
</div>
<div class="row">
  <div class="col-md-4 well">
    <button type="button" class="btn btn-danger">Hey!</button>
  </div>
</div>
